
body {
    background-image: url("../images/back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    justify-content: center;
}

a{
    text-decoration: none;
    color: black
}

.sombra{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 4px grey;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px black;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 2px;
}



img {
    display: flex;
    width: 420px;
    height: 420px;
    position:absolute;
    top: 150px;
    left: 568px;
    justify-content: center;
}

.borda{
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.cadastro{
    position: absolute;
    left: 660px;
    top: 180px;
}

video{
    width: 430px;
    border-radius: 10%
}

.perfil{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover; 
    margin-top: -56px;
    left: 120px;
}

.container{
    margin-left: 500px;
}

.icon{
    width: 40px;
    height: 40px;
}

.botom{
    text-align: center;
    background-color:rgba(31, 26, 23, 255);
    color: whitesmoke;
    position: absolute;
    left: 680px;
    top: 560px;
    cursor: pointer;
}