
body {
    background-image: url("../images/back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 2px;
}



img {
    display: flex;
    width: 420px;
    height: 420px;
    position:absolute;
    top: 150px;
    left: 568px;
    justify-content: center;
}

.borda{
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.centro{
    position: absolute;
    left: 660px;
    top: 180px;
}

.botom{
    text-align: center;
    background-color:rgba(31, 26, 23, 255);
    color: whitesmoke;
    position: absolute;
    left: 680px;
    top: 560px;
    cursor: pointer;
}